<?xml version="1.0" encoding="UTF-8"?>

<configuration debug="false">
	<substitutionProperty name="log.base" value="/usr/sncp/logs/uc/" />
	<timestamp key="bySecond" datePattern="yyyyMMddHHmmss" />
	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{1}:%L - %m%n
			</pattern>
		</encoder>
	</appender>

	<!-- 所有log -->
	<appender name="logs_cashier_all"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${log.base}/cashier.woniu.com/logs-cashier-${bySecond}.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${log.base}/cashier.woniu.com/logs-cashier-${bySecond}-%d{yyyy-MM-dd}.log.zip
			</FileNamePattern>
		</rollingPolicy>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{1}:%L - %m%n
			</pattern>
		</encoder>
	</appender>

	<!-- 访问日志 -->
	<appender name="logs-record"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${log.base}/cashier.woniu.com/monitor/monitor-%d{yyyy-MM-dd-HH}.log.zip
			</FileNamePattern>
			<MaxHistory>30</MaxHistory>
		</rollingPolicy>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%d{MM-dd HH:mm:ss}\t%5p\t%c{1}\t%m%n
			</pattern>
		</layout>
	</appender>
	
	<!-- >>>>>>>>>log-monitor-format>>>>>>>>> -->
	<appender name="logs_monitor_format"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${log.base}/cashier.woniu.com/logs-monitor-format-${bySecond}.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${log.base}/cashier.woniu.com/logs-monitor-format-${bySecond}-%d{yyyy-MM-dd}.log.zip
			</FileNamePattern>
		</rollingPolicy>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{1}:%L - %m%n
			</pattern>
		</encoder>
	</appender>
	
	<logger name="com.woniu.sncp.tools.Log4jFormat">
		<level value="INFO" />
		<appender-ref ref="logs-record" />
	</logger>
	
	<logger name="com.woniu.kaptcha">
		<level value="DEBUG" />
		<appender-ref ref="logs_cashier_all" />
		<appender-ref ref="stdout" />
	</logger>
	
	<logger name="com.woniu.pay">
		<level value="DEBUG" />
		<appender-ref ref="logs_cashier_all" />
		<appender-ref ref="stdout" />
	</logger>
	

	<logger name="com.woniu.sncp">
		<level value="INFO" />
		<appender-ref ref="logs_cashier_all" />
	</logger>

	<logger name="com.cm4j.common">
		<level value="INFO" />
		<appender-ref ref="logs_cashier_all" />
	</logger>

	<logger name="org.hibernate.cache">
		<level value="ERROR" />
		<appender-ref ref="logs_cashier_all" />
	</logger>
	
	<!-- 监控日志格式化 -->
	<logger name="com.woniu.sncp.pay.core.monitor">
		<level value="DEBUG" />
		<appender-ref ref="logs_monitor_format" />
	</logger>
	
	<root>
		<level value="info" />
		<appender-ref ref="stdout" />
	</root>
</configuration>